venv/
.venv/
env/
.env

.idea/
.vscode/

__pycache__/
*.pyc

projects_data/

.DS_Store

tester2.py
tester3.py
tester4.py
with_rer_resnet.json
with_rer_resnet_eval.json
wo_rer_resnet.json
wo_rer_resnet_eval.json
resnet_new_questions.json
resnet_old_questions.json
evaluate_rag.py
evaluation_results.json
evaluation_results2.json
hybr_01_eval_new.json
hybr_01_eval_old.json
hybr_01_new.json
hybr_01_old.json
hybr_03_eval_old.json
hybr_03_old.json
hybr_05_eval_new.json
hybr_05_new.json
hybr_05_old.json
hybr_075.json
hybr_075_eval.json

my_questions.json
old_proect.xml
repomix-output.xml

.github/
.nicegui/
models/

core/data/graph_data/1811.04422v1_graph.json
core/data/graph_data/1909.03550v1_graph.json
core/data/projects_metadata/test_project.json